DirectoryIndex index.php
Options -Indexes

RewriteEngine On

RewriteRule ^api/consilium/?$ api/consult.php [L,QSA]
RewriteRule ^api/health/?$ api/health.php [L,QSA]

<IfModule mod_deflate.c>
  SetEnvIfNoCase Request_URI consult\.php no-gzip dont-vary
  SetEnvIfNoCase Request_URI /api/consilium no-gzip dont-vary
</IfModule>
